/* CSS stylesheet */

*, html, body {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(184, 219, 233);
  margin: 10px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size:22px;
}
h1 {
  margin: 35px auto 50px;
}

/* input div > #inputDivWrapper*/ 
#inputDivWrapper {
  margin: 5px auto;
}
label {
  margin: 0px 10px;
}
input {
  margin: 5px 10px 20px;
  width: 200px;
}
.largeInput {
  width: 300px;
}

/* left div > #leftDiv*/
#leftDiv {
  /* margin: 0 auto;
  width: 50%; */
  float: left;
}

/* right div > #rightDiv*/
#rightDiv {
  width: 50%;
  float: right;
}

/* button div > #buttonDiv */ 
#buttonDiv {
  clear: both;
  display: flex;
  /* margin: 0px auto; */
  justify-content: center;
}
button {
  background-color: rgb(194, 236, 181);
  border-radius: 5px;
  font-size:18px;
  padding:10px 20px;
}
